<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="icon" href="./public/images/Toscana.png">
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar fixed-top  navbar-light bg-light">
      <a class="navbar-brand" href="#Welcome">
         <img src="images/logotip.png" width="300" height="100" class="d-inline-block" alt="" id="logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
       <div class="collapse navbar-collapse navbar-right" id="navbarText">
         <ul class="nav navbar-nav navbar-right" id="navig">
             <li class="nav-item">
               <a class="nav-link" href="#Welcome">Welcome</a>
             </li>
           <li class="nav-item">
             <a class="nav-link" href="#Restaurant">Restaurant</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#Menu">Menu</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#Reservation">Reservation</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#Contact">Contacts</a>
           </li>
         </ul>
     </div>
   </nav>
  <!-- End Navigation -->
  <!--- Start Carousel -->
         <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100 img-fluid img-slider" src="images/slider1.jpg" alt="First slide">
                <div class="carousel-caption">
                  <h2>Welcome!</h2>
                <p>...</p>
              </div>
              </div>
              <div class="carousel-item">
                  <img class="d-block w-100 img-fluid img-slider" src="images/slider2.jpg" alt="Second slide">
                  <div class="carousel-caption">
                  <h2>Traditional Italian Cuisine</h2>
                <p>...</p>
              </div>
              </div>
              <div class="carousel-item">
                  <img class="d-block w-100 img-fluid img-slider" src="images/slider3.jpg" alt="Third slide">
                  <div class="carousel-caption">
                  <h2>Selected Products</h2>
                <p>...</p>
              </div>
              </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only"></span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only"></span>
          </a>
        </div>
      </div>
        <!--- End of Carousel -->
    
  </body>
</html>
