<!DOCTYPE html>
<html lang="en">
<head>
    <title>Toscana Menu</title>
    <link rel="icon" href="/images/Toscana.png">
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'>
</head>
<body>

</body>
</html>