<!DOCTYPE html>
<html lang="en">
<head>
    <title>Toscana Menu</title>
    <link rel="icon" href="/images/Toscana.png">
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="javascripts/bootstrap.min.js"></script>
</head>
<body>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar fixed-top  navbar-light bg-light">
            <a class="navbar-brand" href="#Welcome">
               <img src="/images/logotip.png" width="300" height="90" class="d-inline-block" alt="" id="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
            </button>
             <div class="collapse navbar-collapse navbar-right" id="navbarText">
               <ul class="nav navbar-nav navbar-right" id="navig">
                
                   <li class="nav-item">
                     <a class="nav-link" href="/toscana">Welcome</a>
                   </li>
                 <li class="nav-item">
                   <a class="nav-link" href="/toscana/restaurant">Restaurant</a>
                 </li>
                 <li class="nav-item">
                   <a class="nav-link" href="/toscana/menu">Menu</a>
                 </li>
                 <li class="nav-item">
                   <a class="nav-link" href="#Reservation">Reservation</a>
                 </li>
                 <li class="nav-item">
                   <a class="nav-link" href="#Contact">Contacts</a>
                 </li>
               </ul>
           </div>
         </nav>
        <!-- End Navigation  -->
        <!-- Menu -->
        <div class="container">
          <br><br><br><br><br>
                 <h2 class="text-center" >~ Menu ~</h2>
             </div>
        <div class="container bg-light">
          <h3 class="text-center">Italian restaurant Toscana is a cozy corner of Italy in Ashgabat. The menu features homemade pasta, risotto and fresh seafood.
            The chef will win your hearts with delicious pasta, different types of pizzas and risotto. And the abundance of salads will pleasantly surprise you. 
            Each of our guests will be able to find something special and very tasty for themselves.
          </h3>
        </div>
      <div class="container text-center"><br>
        <button type="button" class="btn btn-outline-dark rounded-5" onclick="salads()">Appetizers and Salads</button>
        <button type="button" class="btn btn-outline-dark rounded-5" onclick="meals()">Hot meals</button>
        <button type="button" class="btn btn-outline-dark rounded-5" onclick="desserts()">Desserts</button>
        <button type="button" class="btn btn-outline-dark rounded-5" onclick="drinks()">Drinks</button>
      </div>
</body>
</html>