<!DOCTYPE html>
<html>
  <head>
    <title>Toscana About</title>
    <link rel="icon" href="/images/Toscana.png">
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'>
    <link rel="stylesheet" href="/stylesheets/style.css">
   </head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar fixed-top  navbar-light bg-light">
    <a class="navbar-brand" href="#Welcome">
       <img src="/images/logotip.png" width="300" height="90" class="d-inline-block" alt="" id="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
    </button>
     <div class="collapse navbar-collapse navbar-right" id="navbarText">
       <ul class="nav navbar-nav navbar-right" id="navig">
        <span id="Welcome"></span>
           <li class="nav-item">
             <a class="nav-link" href="/toscana">Welcome</a>
           </li>
         <li class="nav-item">
           <a class="nav-link" href="/toscana/restaurant">Restaurant</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="/toscana/menu">Menu</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="#Reservation">Reservation</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="#Contact">Contacts</a>
         </li>
       </ul>
   </div>
 </nav>
<!-- End Navigation -->
<div class="container">
  <div class="row" id="Restaurant">
     <div class="col navMenu">
      <div class="container">
        <br><br>
               <h2 class="text-center" >~ About Us ~</h2>
           </div>
     </div>
   </div>
   <div class="row bg-light" >
     <div class="col-md-6"><br>
       <h3 class="text-center">Our Story</h3>
       <p>We are the last authentic Italian restaurant in Ashabat, serving delicious Italian cuisine cooked by the best chefs. 
        It only takes a few minutes to browse through our website and check out our menu. We hope you'll soon join us for a superb Italian culinary experience.</p>
       <p>The Toscana restaurant was created to delight visitors with exquisite Italian cuisine. The restaurant plays live music and creates a calm and cozy atmosphere.
        Come to us for new experiences and gastronomic delights.</p>
     </div>
     <div class="col-md-6" data-aos="fade-up">
       <img class="img-fluid" src="/images/about1.jpg">
     </div>
   </div>
   <div class="row bg-light"><br></div>
   <div class="row bg-light">
     <div class="col-md-6 order-md-1 order-2" data-aos="fade-up">
       <img class="img-fluid " src="/images/about2.jpg">
     </div>
     <div class="col-md-6 order-md-12 order-1"><br>
       <p>Our team of chefs and waiters will do everything to make you satisfied with both the dishes and the service. Here you can relax, listen to good music and enjoy delicious food.</p>
       <p>Toscana - gourmet restaurant. And the staff is up to par. The chef of the restaurant trained in Milan and Tuscany. 
        The director of the restaurant is a highly qualified manager who is responsible for supplying the best products and managing all the staff.
      </p><br>
      <p class="text-center"><a href="/toscana/menu" class="text-body">Our menu</a></p>
     </div>
   </div>
  </div>
   <!--- End of Restaurant -->
   <!-- Footer -->
   <footer class="bg-light" id="footer">
    <div class="container mt-5">
      <div class="row">
        <div class="col-sm-4">
          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h2><br>Location</h2>
                <p>192 West 15th Street,1
                  <br>Ashgabat<br>
                </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h2><br>Open hours</h2>
              <p>Monday-Thursday                 
                <br>9:00am - 10:00pm<br>
                Friday-Sunday<br>
                9:00am - 12:00pm<br>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <br><br><br>
             <img src="/images/Logotip.png" class="imgFooter">
            </div>
          </div>
        </div>
    </div>
  </footer> 

  <script src="javascripts/bootstrap.min.js"></script>
  <script src="javascripts/js.js"></script>
</body>
</html>